@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    width:100%;
    height:100%;
}

@layer components  {


.scroll::-webkit-scrollbar {
    width: 5px;
}

.scroll-x::-webkit-scrollbar {
    height: 5px;
}

.scroll-track::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.scroll-thumb::-webkit-scrollbar-thumb {
    border-radius: 10px;
    @apply bg-sky-500;
}

.bg-color-acuatica{
    @apply bg-sky-500;
}
.text-color-acuatica{
    @apply text-sky-500;
}
}
